<div class="w-75 mx-auto">
  <p class="fs-1">Add Product</p>
  {{#if AddProductError}}
    <div class="alert alert-danger" role="alert">
      {{AddProductError}}
    </div>
  {{/if}}
  <form action="/add-product" method="post">
    <div class="form-floating mb-3">
      <input
        type="text"
        class="form-control"
        id="floatingTitle"
        name="title"
        placeholder="Title"
      />
      <label for="floatingTitle">Title</label>
    </div>
    <div class="form-floating mb-3">
      <textarea
        class="form-control"
        placeholder="Leave a comment here"
        id="floatingDescription"
        name="description"
        placeholder="Description"
        style="height: 100px;"
      ></textarea>
      <label for="floatingTextarea">Description</label>
    </div>
    <div class="form-floating mb-3">
      <input
        type="text"
        class="form-control"
        id="floatingImage"
        name="image"
        placeholder="Image URL"
      />
      <label for="floatingImage">Image URL</label>
    </div>
    <div class="input-group mb-3">
      <span class="input-group-text bg-light" id="basic-addon1">$</span>
      <input
        type="number"
        class="form-control"
        placeholder="Price"
        aria-label="Price"
        aria-describedby="basic-addon1"
        name="price"
      />
    </div>
    <button class="btn btn-success mt-3" type="submit">Add Product</button>
  </form>
</div>